vectors/tfidf/* filter=lfs diff=lfs merge=lfs -text
vectors/doc2vec/* filter=lfs diff=lfs merge=lfs -text
data_files/classification/ASRS_train_1.csv filter=lfs diff=lfs merge=lfs -text
data_files/classification/ASRS_train_2.csv filter=lfs diff=lfs merge=lfs -text
data_files/classification/ASRS_train_3.csv filter=lfs diff=lfs merge=lfs -text
data_files/classification/ASRS_train_4.csv filter=lfs diff=lfs merge=lfs -text
data_files/classification/ASRS_train_5.csv filter=lfs diff=lfs merge=lfs -text
data_files/classification/ASRS_train_6.csv filter=lfs diff=lfs merge=lfs -text
data_files/classification/ASRS_train_7.csv filter=lfs diff=lfs merge=lfs -text
data_files/classification/ASRS_train_8.csv filter=lfs diff=lfs merge=lfs -text
data_files/classification/ASRS_train_9.csv filter=lfs diff=lfs merge=lfs -text
data_files/classification/ASRS_test.csv filter=lfs diff=lfs merge=lfs -text
data_files/classification/ASRS_dev.csv filter=lfs diff=lfs merge=lfs -text
data_files/ner/train_data/annotated_data_01.json filter=lfs diff=lfs merge=lfs -text
data_files/ner/train_data/annotated_data_02.json filter=lfs diff=lfs merge=lfs -text
data_files/ner/train_data/annotated_data_03.json filter=lfs diff=lfs merge=lfs -text
data_files/ner/train_data/annotated_data_04.json filter=lfs diff=lfs merge=lfs -text
data_files/ner/train_data/annotated_data_05.json filter=lfs diff=lfs merge=lfs -text
data_files/ner/train_data/annotated_data_06.json filter=lfs diff=lfs merge=lfs -text
data_files/ner/train_data/annotated_data_07.json filter=lfs diff=lfs merge=lfs -text
data_files/ner/train_data/annotated_data_08.json filter=lfs diff=lfs merge=lfs -text
data_files/ner/train_data/annotated_data_09.json filter=lfs diff=lfs merge=lfs -text
data_files/ner/train_data/annotated_data_10.json filter=lfs diff=lfs merge=lfs -text
data_files/ner/train_data/annotated_data_11.json filter=lfs diff=lfs merge=lfs -text
data_files/ner/hand_annotated_test_reports.json filter=lfs diff=lfs merge=lfs -text
data_files/ner/ner_rules/abbreviations_list.json filter=lfs diff=lfs merge=lfs -text
data_files/ner/ner_rules/airplane_list.json filter=lfs diff=lfs merge=lfs -text
data_files/ner/ner_rules/airport_term_list.json filter=lfs diff=lfs merge=lfs -text
data_files/ner/ner_rules/altitude_list.json filter=lfs diff=lfs merge=lfs -text
data_files/ner/ner_rules/crew_list.json filter=lfs diff=lfs merge=lfs -text
data_files/ner/ner_rules/flight_phases_list.json filter=lfs diff=lfs merge=lfs -text
data_files/ner/ner_rules/navigation_list.json filter=lfs diff=lfs merge=lfs -text
data_files/ner/ner_rules/weather_list.json filter=lfs diff=lfs merge=lfs -text
